<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255101624190-qfssotcpdoneu9l1te8to1kvo5uqjqfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255101624190-qfssotcpdoneu9l1te8to1kvo5uqjqfe</string>
	<key>API_KEY</key>
	<string>AIzaSyCcElzhCsX7HOdVQ18RVQS9DRUkLNJ4V6M</string>
	<key>GCM_SENDER_ID</key>
	<string>255101624190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.battalion.app</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-3f578</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-3f578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255101624190:ios:22a72a21111bdb743d1d2f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-3f578-default-rtdb.firebaseio.com</string>
</dict>
</plist>